<?xml version="1.0" encoding="utf-8"?>
<!--
    Windows Update Remote Service
    Copyright(C) 2016-2020  Elia Seikritt

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.See the
    GNU General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.If not, see<https://www.gnu.org/licenses/>.
-->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="wuapicontroller" type="WcfWuRemoteService.Configuration.WuApiControllerConfigSection, WcfWuRemoteService"/>
    <section name="wuservice" type="WcfWuRemoteService.Configuration.WuServiceConfigSection, WcfWuRemoteService"/>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <wuapicontroller autoSelectUpdates="true" autoAcceptEulas="false" />
  <wuservice createFirewallRule="false" />
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="DefaultServiceBehaviors" name="WcfWuRemoteService.WuRemoteService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpBinding" name="NetTcpBindingEndpoint" contract="WuDataContract.Interface.IWuRemoteService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!-- only enable metadata exchange for client proxy generation -->
        <!--<endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBidingEndpoint" contract="IMetadataExchange" />-->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://0.0.0.0:8523/WuRemoteService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="DefaultNetTcpBinding" receiveTimeout="02:00:00">
          <!-- Long receiveTimeout: Service is using only one long running session for each client with periods of none communication. -->
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultServiceBehaviors">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>